# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Sensitive config
config/settings.yaml
config/private.pem

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/